
@{
    <div class="content-wrapper" style="min-height: 639px;">
        <section class="content-header">
            <h1><i class="glyphicon glyphicon-time"></i> Hổ trợ</h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box" id="view">
                        <div class="box-body">
                            <div class="row" style="padding:0px; margin:0px;">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Mã bình luận</th>
                                                <th class="text-center">Sản phẩm</th>
                                                <th class="text-center">Khách hàng</th>
                                                <th class="text-center">Nội dung</th>
                                                <th class="text-center" colspan="1">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                             {
                                             <tr>
                                                <td class="text-center">@item.MABL</td>
                                                <td class="text-center">@item.TENSP</td>
                                                <td class="text-center">@item.TENKH</td>
                                                <td class="text-center">@item.NOIDUNG</td>             
                                                <td class="text-center">
                                                    <a class="btn btn-danger btn-xs" href="/BH/BH_HoTro/DeleteHoTro?Id=@item.MABL" onclick="return confirm('Xác nhận xóa bình luận này ?')" role="button">
                                                        <span class="glyphicon glyphicon-trash"></span>Xóa
                                                    </a>
                                                </td>
                                             </tr>
                                             }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <ul class="pagination">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box -->
            </div>
            <!-- /.col -->
        </section>
    </div>
}