
@{
    <div class="content-wrapper" style="min-height: 639px;">
        <section class="content-header">
            <h1><i class="glyphicon glyphicon-bookmark"></i> Hệ Thống</h1>
            <div class="breadcrumb">
                <button type="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                    Lưu
                </button>
            </div>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box" id="view">
                        <div class="box-body">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label> Mail hệ thống</label>
                                    <input type="email" class="form-control" name="mail_ht" style="width:100%" placeholder="Mail cấu hình" value="sale.smart.store.2021@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label>Password Mail hệ thống</label>
                                    <input type="password" class="form-control" name="mail_ht_password" style="width:100%" placeholder=" Password Mail cấu hình" value="123456">
                                </div>
                                <div class="form-group">
                                    <label>Mail admin</label>
                                    <input type="text" class="form-control" name="mail_noreply" style="width:100%" placeholder="Mail nhận thông tin đơn hàng" value="NVB@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label> Title</label>
                                    <input type="text" class="form-control" name="title" style="width:100%" placeholder=" title" value="Web site bán hàng điện thoai, máy tính bảng MU">
                                </div>
                                <div class="form-group">
                                    <label> Mô tả</label>
                                    <input type="text" class="form-control" name="description" style="width:100%" placeholder=" description" value="Không">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div><!-- /.box -->
            </div>
            <!-- /.col -->
        </section>
    </div>
}
