@{
    ViewData["Title"] = "Kết quả thêm bộ môn";
    var count = ViewData["count"];
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/Home/Index">Trang chủ</a></li>
                        <li>
                            <a href="/SanPham/DTDD">Điện thoại</a>
                        </li>
                        <li><a href="/SanPham/MayTinhBang">Máy tính bảng</a></li>
                        <li><a href="/TinTuc/DanhSachTinTuc">Tin tức</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="single-sidebar">
                        @if (int.Parse(count.ToString()) >= 0)
                        {
                            <h2 class="alert alert-success">Cám ơn bạn đã để lại nhận xét</h2>
                        }
                        else
                        {
                            <h2 class="alert alert-danger">Bình luận thất bại</h2>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
